@import "header.less";
@import "content.less";
@import "fork.less";
// body{
//     overflow-x: hidden;
// }
.ant-layout{
    background: #fff;
}
.ant-menu{
    padding: 1rem;
}
 .ant-menu-item{
    border-bottom: 1px dotted #888;
}
.content{
    padding: 2rem;
  text-align: left;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff !important;
}